@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arvo:ital,wght@1,400;1,700&family=Comfortaa&family=DynaPuff&family=Inconsolata&family=Josefin+Sans:wght@300&family=Merriweather:wght@400;700&family=Montserrat&family=Mukta&family=Noto+Sans+JP:wght@400;500&family=Noto+Sans+NKo&family=Oswald&family=Poppins:wght@400;500&family=Righteous&family=Roboto+Mono:wght@100;500&family=Roboto:wght@100&family=Satisfy&family=Signika+Negative:wght@300;400&family=Ubuntu&display=swap');


* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
    -moz-tap-highlight-color: transparent; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
  
  *:active {
    outline: none;
  }

.font-all {
    font-family: 'Poppins', sans-serif;
}

.font-judul {
    font-family: 'Josefin Sans', sans-serif;

}

.bg-surah-dark {
  /* backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #08625a 100%);
  border: 1px solid white;
}

.bg-surah-light {
  /* backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #14FFEC 100%);
  border: 1px solid rgb(11, 11, 11);
  color: white;
}


.light {
    background-color: #e5ebe8;
    color: rgb(0, 0, 0);
    transition: all ease-in-out .3s;
}

.dark {
    background-color: #212121;
    color: rgb(247, 244, 244);
    transition: all ease-in-out .3s;
}

.bg-list-dark {
  background-color: white;
  color: black;
  /* margin-bottom: 10px; */
}

.bg-list-light {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
}


  .cross:before, .cross:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  
  .cross:before {
    transform: rotate(45deg);
  }
  
  .cross:after {
    transform: rotate(-45deg);
  }
  
  .bar.cross {
    position: relative;
  }

  /* Loading */
  .newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }
   



/* card */
.card-hover {
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0,0.3);
  display: none;
  /* transition: .3s; */
  animation-name: card;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.card-surah:hover .card-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes card {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* card ayat */
.card-ayat {
  background: linear-gradient(115.58deg, #00FC19 0%, #1700A4 100.22%), radial-gradient(92.72% 100% at 50% 0%, #EBFFCB 0%, #651200 100%), radial-gradient(92.72% 100% at 50% 0%, #FAFF00 0%, #820000 100%), radial-gradient(109.21% 213.32% at 100% 0%, #FF4D00 0%, #00C2FF 100%), linear-gradient(127.43deg, #D50000 0%, #7856FF 100%);
  background-blend-mode: lighten, overlay, lighten, screen, normal;
  color: black;
}


.card-detail {
  /* background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal; */
  background: radial-gradient(111% 111% at 74.29% -11%, #A93300 0%, #005570 100%), linear-gradient(127.43deg, #00D5C8 0%, #2200AA 100%);
  background-blend-mode: difference, normal;
  color: white;
}

.latin {
  font-weight: 500;
}